<div class="row mt-3 mb-3">
  <div class="col">
    <h1><%= @place["name"] %></h1>
  </div>
</div>

<div class="row mt-2 mb-2">
  <div class="col">
    <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
  </div>
</div>

<% if @current_user %>
  <h2>My Posts</h2>
  <% for post in @posts %>
    <h3><%= post["title"] %></h3>
    <h4><%= post["posted_on"] %></h4>
    <p><%= post["description"] %></p>
    <%= button_to "Delete", post, :method => "delete" %>
  <% end %>

  <p>
    <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
  </p>

  <p>
    <a href="/places">Back to All Places</a>
  </p>
<% end %>


